export(agri_design)
export(validate_agri_design)
export(design_summary)
export(agri_methods)
export(agri_rank)
export(np_crd)
export(np_rcbd)
export(np_factorial)
export(np_splitplot)
export(np_repeated)
export(agri_repeated)
export(agri_missing_report)
export(agri_missing_sensitivity)
export(agri_effects)
export(agri_contrast)
export(agri_pairs)
export(agri_cld)
export(agri_sensitivity)
export(agri_batch)
export(agri_power)
export(agri_trend)
export(agri_ancova)
export(agri_multivariate)
export(agri_multienv)
export(agri_plot)
export(agri_interactive)
export(agri_table)
export(agri_report)
export(agri_dashboard)
export(export_results)
export(simulate_agri)
export(incomplete_wild_rank_test)
S3method(print,agri_design)
S3method(summary,agri_design)
S3method(print,agri_rank_fit)
S3method(summary,agri_rank_fit)
S3method(anova,agri_rank_fit)
S3method(plot,agri_rank_fit)
S3method(confint,agri_rank_fit)
export(agri_conover)
export(agri_np_regression)
export(agri_np_predict)
export(agri_np_diagnostics)
export(agri_np_compare)
export(agri_np_derivative)
export(agri_np_optimum)
export(agri_tidy)
export(agri_glance)
export(agri_augment)
export(agri_np_effect_test)
S3method(print,agri_np_effect_test)
export(agri_np_shape_test)
S3method(print,agri_np_shape_test)
export(agri_np_longitudinal)
S3method(print,agri_np_longitudinal_fit)
export(agri_np_multiresponse)
S3method(print,agri_np_multiresponse)
export(agri_np_impute)
S3method(print,agri_np_impute)
export(agri_np_optimum_economic)
S3method(print,agri_np_optimum_economic)
export(agri_np_optimum_surface)
S3method(print,agri_np_optimum_surface)
export(agri_np_bootstrap)
export(agri_np_plot)
S3method(print,agri_np_reg_fit)
S3method(summary,agri_np_reg_fit)
S3method(print,summary.agri_np_reg_fit)
S3method(predict,agri_np_reg_fit)
S3method(update,agri_np_reg_fit)
S3method(print,agri_np_significance)
S3method(plot,agri_np_reg_fit)
export(agri_np_interactive)
export(agri_np_significance)
export(agri_np_specification)
export(agri_integer_predict)
export(agri_integer_difference)
export(agri_integer_optimum)
export(agri_integer_efficiency)
export(agri_integer_threshold)
export(agri_integer_bootstrap)
export(agri_integer_confset)
S3method(print,agri_integer_optimum)
S3method(print,agri_integer_bootstrap)
S3method(print,agri_integer_confset)

export(np_splitsplit)
export(np_stripplot)
S3method(print,agri_multivariate_fit)
S3method(summary,agri_multivariate_fit)
export(agri_format_ci)
export(agri_np_curves)
export(agri_np_sizer)
export(agri_np_conformal)
export(agri_np_simdiag)
S3method(print,agri_np_simdiag)
S3method(plot,agri_np_simdiag)
export(agri_np_coverage)
S3method(print,agri_np_conformal)
S3method(plot,agri_np_conformal)
export(agri_np_significant_slope)
export(agri_np_optimum_test)
export(agri_np_block_effects)
export(agri_np_quantile_curves)
export(agri_np_timetoevent)
export(agri_rankings)
S3method(print,agri_rankings)
S3method(plot,agri_rankings)
S3method(print,agri_np_tte)
S3method(plot,agri_np_tte)
S3method(print,agri_np_quantile_curves)
S3method(plot,agri_np_quantile_curves)
S3method(print,agri_np_block_effects)
S3method(plot,agri_np_block_effects)
S3method(print,agri_np_optimum_test)
S3method(plot,agri_np_optimum_test)
S3method(print,agri_np_sizer)
S3method(summary,agri_np_sizer)
S3method(plot,agri_np_sizer)
export(agri_np_forest)
export(agri_np_levels)
export(agri_theme)
export(agri_save_figure)
S3method(coef,agri_np_reg_fit)
S3method(confint,agri_np_reg_fit)
S3method(fitted,agri_np_reg_fit)
S3method(residuals,agri_np_reg_fit)
S3method(plot,agri_np_bootstrap)
S3method(plot,agri_np_compare)
S3method(plot,agri_integer_bootstrap)
S3method(plot,agri_integer_confset)
importFrom("utils", "capture.output", "combn", "tail", "globalVariables")
importFrom("parallel", "nextRNGStream")
importFrom("grDevices", "chull")
importFrom("stats", "aggregate", "median")
importFrom("stats", "setNames", "rnorm", "rpois", "rgamma", "rlnorm", "rt", "runif")
